@{
    var _siteInfo = (xSite.SiteInfo)ViewData["SiteInfo"];
}

@using System;
@using xSite;
@using xSite.Extensions;
@inject ISiteManager SiteManager;


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="@ViewData["Description"]">
    <meta name="author" content="@ViewData["Author"]">
    <link rel="icon" href="@_siteInfo.FavIconUrl">
    <title>@ViewData["Title"]</title>

    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/clean-blog.min.css" />
    <link rel="stylesheet" href="vendor/fontawesome-free/css/all.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="/">@_siteInfo.Title</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    @{
                        var menu = await SiteManager.GetMenuByLocationAsync("Primary", true);
                        if (menu != null) {
                            @Html.Raw(menu.ToBootstrapMenuUnorderedList());
                        }
                    }
                </ul>
            </div>
        </div>
    </nav>

    @RenderBody()

    <!-- Footer -->

    <hr>

    <footer>
        <div class="container">
            <div class="row">
                @{
                    var socialMenu = await SiteManager.GetMenuByLocationAsync("Social");
                    if (socialMenu != null) {
                        <div class="col-lg-8 col-md-10 mx-auto">
                            <ul class="list-inline text-center">
                                @foreach (var menuItem in socialMenu.MenuItems) {
                                    var socialClass = "fab fa-{0} fa-stack-1x fa-inverse";
                                    if (menuItem.IsGitHubLink()) {
                                        socialClass = string.Format(socialClass, "github");
                                    } else if (menuItem.IsLinkedInLink()) {
                                        socialClass = string.Format(socialClass, "linkedin");
                                    } else if (menuItem.IsFacebookLink()) {
                                        socialClass = string.Format(socialClass, "facebook");
                                    } else if (menuItem.IsTwitterLink()) {
                                        socialClass = string.Format(socialClass, "twitter");
                                    } else if (menuItem.IsEmailLink()) {
                                        socialClass = "fab fas-envelope fa-stack-1x fa-inverse";
                                    } else if (menuItem.IsInstagramLink()) {
                                        socialClass = string.Format(socialClass, "instagram");
                                    } else if (menuItem.IsRssFeedLink()) {
                                        socialClass = "fab fas-rss fa-stack-1x fa-inverse";
                                    } else {
                                        continue;
                                    }
                                    <li class="list-inline-item">
                                        <a href="@menuItem.Target" title="@menuItem.Label">
                                            <span class="fa-stack fa-lg">
                                                <i class="fas fa-circle fa-stack-2x"></i>
                                                <i class="@socialClass"></i>
                                            </span>
                                        </a>
                                    </li>
                                }

                            </ul>
                        </div>
                    }
                }
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="~/js/clean-blog.min.js"></script>

</body>
</html>